<h3>All Tags</h3><br>

 <%all_tags = Tag.all%>
 <% ordered_tags = (all_tags.sort {|a,b| a.name <=> b.name}) %>
<% ordered_tags.each do |t| %>
  <a href = "/tags/<%=t.id%>" class = 'three columns'><%= t.name %></a>
<% end %>
